.DS_Store
.coverage
.idea/
.ipynb_checkpoints/
.pytest_cache/
.venv/
__pycache__/
build/
dist/
*.egg-info/
*.pyc

artifacts/*
!artifacts/burgers_pinn/
artifacts/burgers_pinn/*
!artifacts/burgers_pinn/*.csv
!artifacts/burgers_pinn/*.json
!artifacts/burgers_pinn/*.png
